<section
  class="relative bg-[url(https://31threedesign.com/wp-content/uploads/2019/08/Metal-Fabrication-Services-Dallas-Fort-Worth.jpg)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8 flex flex-row justify-center items-center"
  >
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Asra 

        <strong class="block font-extrabold text-rose-500">
          Metal Works
        </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
        Best Metal Products Available In Gulbarga.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <%= link_to "Products", products_path, class:"transition:ease-in duration-300 block w-full rounded bg-rose-500 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"%>
      </div>
    </div>
  </div>
</section>
